<h1>
    <i class= "fa fa-male"> </i>
    <span data-i18n="skills.my_skills">About Me</span>
</h1>

<div>
    <ul>
        <li>
            Computer Security Researcher (Fuzzing, Program Analysis, Automatic bug finding)
        </li>
        <li>
            Staff Software Engineer <a href= "https://sra.samsung.com">@Samsung Research America</a>
        </li>
        <li>
            Automatic Bug Discovery Leader <a href= "https://team-atlanta.github.io">@Team Atlanta</a>, AIxCC Winner
        </li>
    </ul>
</div>
