<h1>
    <i class= "fa fa-male"> </i>
    <span data-i18n="skills.my_skills">About Me</span>
</h1>

<div>
    <ul>
        <li>
            Computer Security Researcher (Fuzzing, Program Analysis, Automatic bug finding)
        </li>
        <li>
            <strong>Researcher</strong> <a href= "https://theori.io/">@Theori</a>
        </li>
        <li>
            <strong>Ph.D.</strong> student <a href= "https://www.syssec.kr/">@KAIST SysSec</a> and <a href= "https://kaist-hacking.github.io/">@KAIST Hacking Lab</a>
        </li>
        <li>
            CTF(Pwnable) guy in <a href="http://kaishackgon.blogspot.com/">KaisHack</a> and
            <a href="http://gon.kaist.ac.kr/">KAIST GoN</a>
        </li>
    </ul>
</div>
