<h1>
    <i class = "fa fa-trophy"> </i>
    <span data-i18n="skills.my_skills">Hacking Competition Awards</span>
</h1>

<div>
  <ul>
    {% for y in [2014, 2015, 2016, 2017, 2018, 2020, 2021, 2022] reversed %}
    <li>
        <strong>{{y}}</strong>
        <ul>
        {% for award in site.data.index.award %}
           {% if award.year == y %}
                <li>
                {{award.descr}}
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </li>
        {% endfor %}
    <br>
  </ol>
</div>
